.personal-zone {
    position: absolute;
    border: 2px black solid;
    border-radius: 1.5rem;
    background-color: #e8fbe8;
    resize: both;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    min-height: 125px;
}

.personal-zone::-webkit-resizer {
    background-color: transparent;
}

.dragger {
    color: white;
    font-size: xx-large;
    width: 2rem;
    height: 2rem;
    align-self: start;
    line-height: 2rem;
    cursor: move;
    background-image: url('../../images/cross.png');
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.text {
    color: white;
    text-align: center;
    font-size: 2rem;
    align-self: center;
    padding: 0;
    margin: auto;
    line-height: 2rem;
}

.resizer {
    color: white;
    font-size: xx-large;
    width: 2rem;
    height: 2rem;
    align-self: end;
    margin-left: auto;
    line-height: 2rem;
    background-image: url('../../images/diag.png');
    background-size: 1rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}
