.game-card {
    position: absolute;
    width: 50px;
    height: 100px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

.closed {
    background-color: red;
}

.opened {
    background-color: green;
}