<ng-template ngFor let-item [ngForOf]="gameCards" let-i="index" [ngForTrackBy]="trackCardsById">
  <app-game-card
    [model]="item"
    [personalZoneParams]="personalZoneParams"
    [throwZoneParams]="throwZoneParams"
    [isZoomed]="isZoomed"></app-game-card>
</ng-template>

<app-info-zone [playersInfo]="playersInfo"></app-info-zone>

<app-throw-zone (paramsChanged)="updateThrowZoneParams($event)"></app-throw-zone>

<app-personal-zone (paramsChanged)="updatePersonalZoneParams($event)"></app-personal-zone>

<ng-template ngFor let-item [ngForOf]="playerLabels" let-i="index" [ngForTrackBy]="trackPlayerLabelByName">
  <app-player-label [model]="item"></app-player-label>
</ng-template>

<app-username-form></app-username-form>
