.game-card {
    position: absolute;
    border: 1px black solid;
    border-radius: 0.25rem;
    cursor: pointer;
    background-repeat: no-repeat;
}

.game-card-zoom {
    position: relative;
    border: 1px black solid;
    border-radius: 0.25rem;
    cursor: pointer;
    background-position-x: right;
    background-repeat: no-repeat;
}

.rotated90 {
    transform: rotate(90deg);
}

.rotated180 {
    transform: rotate(180deg);
}

.rotated270 {
    transform: rotate(270deg);
}

.hidden {
    visibility: hidden;
}