.game-card-container {
    position: absolute;
    border: 2px black solid;
    border-radius: 0.25rem;
}

.closed {
    background-color: red;
}

.opened {
    background-color: green;
}

.rotated90 {
    transform: rotate(90deg);
}

.rotated180 {
    transform: rotate(180deg);
}

.rotated270 {
    transform: rotate(270deg);
}

.hidden {
    visibility: hidden;
}