.throw-zone {
    position: absolute;
    border: 2px black solid;
    border-radius: 1.5rem;
    background-color: #ffe2e2;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.text {
    color: white;
    text-align: center;
    font-size: 2rem;
    align-self: center;
    padding: 0;
    margin: auto;
    line-height: 2rem;
}