.username-background {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

.username-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.username-label {
    display: block;
    text-align: center;
}

.username-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.username-button {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}

.title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
    color: white;
}